.space{
    white-space: pre-line;
}
.marge{
    margin: 25px;
}
input {
    margin-bottom: 3px;
}
.space2{
    margin-left: 15px;
}
.blue ,.blue legend{
    background-color: blue;
}
.purple ,.purple legend{
    background-color: purple;
}
.red ,.red legend{
    background-color: red;
}